.buttonValid {
    background-color: green;
    color: #f5f5f5;
    width: 180px;
    height: 120px;
    display: flex;
    /* position: absolute; */
    align-items: center;
    border-radius: 60%;
    margin-left: 90px;
}

/* .carrousel {
    width: 100px;
} */

.entree{
    text-align: center;
    color: #f5f5f5;
    background-color: #C54839;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.text-rajout {
    width: 35%;
    color: #f5f5f5;
}

.text{
    padding-top: 50px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.accueil{
    background-color: #C54839;
    width: 100%;
}

.carton {
    
    background-color: #f5f5f5;
    font-family: "Indenture English Penman";
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 8px;
    margin-bottom: 12px;
    border-radius: 60%;
}