.buttonValid {
    background-color: green;
    color: #f5f5f5;
    width: 180px;
    height: 120px;
    display: flex;
    /* position: absolute; */
    align-items: center;
    border-radius: 60%;
    /* margin-left: 10%; */
    margin-top: 20%;
}

/* .carrousel {
    width: 100px;
} */

.entree{
    text-align: center;
    color: #f5f5f5;
    background-color: #C54839;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.text-rajout {
    width: 35%;
    color: #f5f5f5;
}

.text{
    padding-top: 10%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.accueil{
    background-color: #C54839;
    width: 100%;
}

.carton {
    
    background-color: #f5f5f5;
    font-family: "Indenture English Penman";
    font-size: clamp(14px, 2vw, 18px); /* Ajuste la taille du texte de manière réactive */
    display: flex; /* Flexbox pour centrer le texte */
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    text-align: center; /* Aligne le texte au centre */
    /* padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px; */
    padding: 10%;
    margin-top: 0%;
    margin-right: 8px;
    margin-bottom: 12px;
    height: 300px;
    width: 300px; /* Ajout d'une largeur pour stabiliser la forme */
    border-radius: 60%; /* Cercle parfait si la largeur et la hauteur sont égales */
    overflow: hidden; /* Coupe le contenu qui dépasse */
    /* border-radius: 60%; */
    /* line-height: 1.5; */
}

.presentationneur {
    background-color: #f5f5f5;
    font-family: "Indenture English Penman";
    font-size: 19px;
    margin-top: 0%;
    margin-right: 8px;
    margin-bottom: 12px;
    display: flex; /* Flexbox pour centrer le texte */
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
    text-align: center; /* Aligne le texte au centre */
    border-radius: 60%;
}

.tourneur {
    padding-left: 2%;
}

.coloring {
    color: white;
}
.coloring:hover {
    color: white;
}