.title {
    background-color: #C54839;
    color: #f5f5f5;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.title2 {
    background-color: #C54839;
    color: #f5f5f5;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    text-align: center;
}

.agencement {
    display: flex;
}

.inter {
    border-radius: 10px;
    background-color: #f5f5f5;
    color: #5536B5;
    /* width: 80%; */
    /* align-items: center ; */
    margin-left: 40px;
    margin-right: 40px;

}

.carton{
    width: 50%;
    height: 10%;
}

.mapen {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
}

.place{
    height: 80px;
}

.middleonpos{
    height: 50%;
}

.h4{
    margin: 0px;
    padding: 0px;
}

.bulle {
    margin-left: 15%;
    margin-right: 12%;
    margin-top: 0px;
    text-align: center;
}