.title {
    text-align: center;
    background-color: #C54839;
    color: azure;
    padding-top: 15px;
    padding-bottom: 15px;
}

.general {
    padding-top: 0%;
    padding-bottom: 0%;
}

.corpus {
    background-color: #C54839;
    color: azure;
    text-align: center;
    padding-top: 10px;
}

.pusherred {
    color: brown;
}

.list {
    text-align: left;
}

.button {
    width: 380px;
    height: 70px;
    /* margin-left: 10px;
    margin-right: 10px; */
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 90%;
    color: brown;
    background-color: rgb(244, 193, 162);
    /* stroke: black;
    stroke-width: 10px; */
}
/* .essai {
    background-color: aqua;
} */

.carton{
    background-color: #f5f5f5;
    color: black;
    margin-left: 15px;
    /* text-align: center; */
}

.presentation{
    border-radius: 30%;
    stroke: #f5f5f5;
    background-color: rgb(244, 193, 162);
    color: brown;
    margin: 15px;
    padding: 20px;
    font-size: medium;
}

.tournis {
    padding-left: 2%;
    /* padding-right: 20px; */
}