.livre {
    width: 50%;
}

.panel{
    display: flex;
    position: grid;
}

.cartounet{
    background-color: #f5f5f5;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 6%;
    margin-right: 6%;
}