.title {
    background-color: #C54839;
    color: #f5f5f5;
    margin-top: 20px;
    margin-bottom: 20px;

}

.panel{
    background-color: #C54839;
    width: 100%;
}

.zonegauche{
    text-align: center;
    margin-left: 0%;
    width: 50%;
    color: #f5f5f5;
    font-weight: 200;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.zonedroite{
    text-align: center;
    margin-right: 0%;
    width: 50%;
    color: #f5f5f5;
    font-weight: 200;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ptitcarte {
    width: 600px;
}

.selection{
    background-color: #C54839;
    color: #f5f5f5;
    margin: 10px;
}

.decal{
    display: flex;
    justify-content: center;
}