.carousel .control-prev.control-arrow,
.carousel .control-next.control-arrow {
    outline: none;
    box-shadow: none;
    background: transparent;
}
  
.carousel-arrow:hover {
    background-color: transparent; /* Optionnel : retirer toute couleur */
}

.carousel .thumbs {
    display:flex;
    justify-content: baseline;
    margin: 0 5px;
    object-fit: contain;
    width: auto;
}

.frame {
    width: 100%; /* Assure-toi que l'image prend tout l'espace du parent */
    height: auto;
    object-fit: cover; /* Garde le bon ratio des images */
    border-radius: 50%;
    /* padding-left: 2%; */
    /* padding-right: 5px; */
    padding-top: 25px;

    /* width: 400px;
    height: 400px; */
}

.overlay {
    width: 100%;
    position: absolute;
    top:490px;
    transform: translateY(-50);
    /* left:0%;
    padding:0%; */
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    color:#f5f5f5;
}

.defil{
    width: 800px;
    border-radius: 30%;
    /* padding-top: 10px;
    padding-left: 10px; */
    /* padding-right: 10px; */
}

.reduit{
    width: 100%;
}