.carousel .control-prev, .carousel .control-next {
    background: none; /* Supprime le fond gris des flèches */
    /* opacity: 1;  */
    /* Rendre les flèches visibles sans opacité */
}

.carousel .control-prev:hover, .carousel .control-next:hover {
    background: none; /* Empêche le fond gris au survol */
    opacity: 1; 
    /* Garde la visibilité */
}

.carousel .thumbs {
    display:flex;
    justify-content: baseline;
    margin: 0;
}

.frame {
    border-radius: 50%;
    /* padding-left: 2%; */
    /* padding-right: 5px; */
    padding-top: 25px;

    /* width: 400px;
    height: 400px; */
}

.overlay {
    width: 100%;
    position: absolute;
    top:490px;
    transform: translateY(-50);
    /* left:0%;
    padding:0%; */
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    color:#f5f5f5;
}

.defil{
    width: 800px;
    border-radius: 30%;
    /* padding-top: 10px;
    padding-left: 10px; */
    /* padding-right: 10px; */
}

.reduit{
    width: 100%;
}