.HeaderContain {
    background-color: #5e0011;
    padding: 10px 0;
    z-index: 100;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 35px;
    width: 100%;
}

#HeaderMenu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 35px;
    width: 100%;
    font-size: 25px;
    color: #f5f5f5;
}

.Header {
    /* position: absolute; */
    top: 0;
    display: grid;
    /* grid-template-areas: "logo-nav"; */
}

.photo {
    position: absolute;
    top: 0;
    width: 100%; 
    position: sticky;
}

.écrits {
    color: #f5f5f5;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}